<h1>Flights</h1>

<form action='/flights' method='get'>
  <div>
    <label for='departure'>Departure airport: </label>
    <select name='departure' id='departure' >
      <% @airports.each do |d_a| %>
        <option value=<%= d_a.id %>><%= d_a.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    <label for='arrival'>Arrival airport: </label>
    <select name='arrival' id='arrival' >
      <% @airports.each do |a_a| %>
        <option value=<%= a_a.id %>><%= a_a.name %></option>
      <% end %>
    </select>
  </div>

  <div>
    <label for='num_passengers'>Number of passengers: </label>
    <input type='number' id='num_passengers' name='num_passengers' min='1' max='50'/>
  </div>

  <div>
    <label for='date'>Date: </label>
    <input type='date' id='date' name='date' value='<%= @date %>' />
  </div>

  <input type='submit' value='Search' />
</form>

<% if !@flights.empty? %>
  <form action='/flights' method='get'>
    <% @flights.each do |f| %>
      <div>
        <input type='hidden' name='num_passengers' value=<%= @num_passengers %>>
        <input type="radio" id="huey" name="flight" value=<%= f.id %> checked>
        <div>
          Departure time:
          <%= Time.at(f.departure_time).strftime("%F %I:%M %p") %>
        </div>
        <div>
          Arrival time:
          <%= Time.at(f.arrival_time).strftime("%F %I:%M %p") %>
        </div>
        <div>
          Duration:
          <%= ((Time.at(f.arrival_time) - Time.at(f.departure_time))/3600).to_i %>
        </div>
        <div>
          <%= f.departure_airport.code %> - <%= f.arrival_airport.code %>
        </div>
        <div><%= f.price %></div>
      </div>
    <% end %>

    <input type='submit' />
  </form>
<% end %>