<h1>Booking</h1>

<h2>Flight details</h2>

<p>Departure airport: <%= @booking.flight.departure_airport.name %></p>
<p>Arrival airport: <%= @booking.flight.arrival_airport.name %></p>
<p>Departure time: <%= Time.at(@booking.flight.departure_time).strftime("%F %I:%M %p") %></p>
<p>Arrival time: <%= Time.at(@booking.flight.arrival_time).strftime("%F %I:%M %p") %></p>
<p>Duration: <%= ((Time.at(@booking.flight.arrival_time) - Time.at(@booking.flight.departure_time))/3600).to_i %> HR</p>
<p>Price: $<%= @booking.flight.price %></p>

<h2>Passengers details</h2>

<% @booking.passengers.each_with_index do |p, i| %>
  <h3>Passenger <%= i + 1 %></h3>
  <div>
    <p>Name: <%= p.name %></p>
    <p>Email: <%= p.email %></p>
  </div>
<% end %>